


/* pre-release */
/* html { background-color: rgba(163, 0, 163, 0.3) } */
/* p.para .jpstr { background-color: rgba(163, 0, 163, 0.24) } */

p.para .jpstr { background-color: rgba(159, 210, 212, 0.44); }
p.para .jpstr em { border-radius: 1em; border: dotted 1pt rgba(163, 0, 163, 0.6) } p.para .jpstr em a { border: none; }


p.para .jpstr span > a { background-color: #fbfbfb }
p.para .jpstr span > a, p.para .jpstr > a { background-color:  rgba(255,255, 255, 0.4) }

#hierarchial_navigation:after { content: "2016-10-24"; color: gray; margin-left: 0.5em; font-size: 0.8em }

ul.nav-parts .jpstr.hue_pale { font-size: 0.9em; margin-left: 0em; color: #888; }
ul.nav-chapters .jpstr.hue_pale { font-size: 0.85em; margin-left: 2.2em; color: #aaa; }


.glossary-entry dt.term p.para .jpstr { display: inline; padding: 0.3em 0.5em 0.3em 0em; background-color: inherit; font-weight: bold }



div.syntax-defs .jpstr .text-description {
    color: #000;
}


ul.nav-parts li.nav-chapter a .jpstr { display: block; font-size: 0.85em; margin: 0.3em 0em 1.2em 0em; color: #888; }




