
p {
font-size: 0.85em;
line-height: 1.82em;
}

p code, p em {
font-size: 1.0em;
/* margin-left: 0.25em;
margin-right: 0.25em; */
}


p code:before, p code:after, p em:before, p em:after {
content: " ";
font-size: 5pt;
line-height: 2pt;
visibility: false;
}


.icon-chevrondowncircle:before, .icon-chevrondowncircle:after {
  content: "⇂"; }
.icon-chevrondowncircle:before, .icon-chevrondowncircle:after {
  content: "☟"; }
  
  
div.topic-content p .jpstr { margin: 0.5em 0em 2em 0em; display: block }



.changes-toggle-container,
div.ac-gf-footer-legal-links > a.first + a + a,
div.ac-gf-footer-legal-links > a.first + a + a + a,
div.ac-gf-footer-news,
nav.footer-breadory,
#ac-gn-placeholder,
#ac-globalnav { display: none; visibility: hidden; }


/* div.ac-gf-footer-legal { margin-top: 1em } */
.topic-container { padding-bottom: 4em }
section.bg-light{ padding-top: 1em; padding-bottom: 0.5em; }
/* div.ac-gf-footer-legal-copyright { margin-left: 30% } */
footer#globalfooter { height: 1em }


.ac-gf-footer-legal .ac-gf-footer-legal-links > a:first-child + a {
  border: none; }

div.localnav-content:after { content: "2016.11.15"; font-size: 10pt; position: absolute; margin-left: 15em; padding: 1.8em 0em }

/* div.localnav-menu-tray:before { content: "2016.10.5"; font-size: 10pt; position: absolute; margin-left: -5em; padding: 0.5em 0em } */

