
p {
font-size: 0.9em;
line-height: 1.82em;
}

p code, p em {
font-size: 1.0em;
/* margin-left: 0.25em;
margin-right: 0.25em; */
}


p code:before, p code:after, p em:before, p em:after {
content: " ";
font-size: 5pt;
line-height: 2pt;
visibility: false;
}


.icon-chevrondowncircle:before, .icon-chevrondowncircle:after {
  content: "⇂"; }
.icon-chevrondowncircle:before, .icon-chevrondowncircle:after {
  content: "☟"; }
  
  
div.topic-content p .jpstr { margin: 0.5em 0em 2em 0em; display: block }




div.ac-gf-footer-legal-links > a.first + a + a,
div.ac-gf-footer-legal-links > a.first + a + a + a,
div.ac-gf-footer-news,
nav.footer-breadory,
#ac-gn-placeholder,
#ac-globalnav,
div.ac-gf-footer-language-links { display: none; visibility: hidden; }


/* div.ac-gf-footer-legal { margin-top: 1em } */
.topic-container { padding-bottom: 4em }
section.bg-light{ padding-top: 1em; padding-bottom: 0.5em; }
/* div.ac-gf-footer-legal-copyright { margin-left: 30% } */
footer#globalfooter { height: 1em }


.ac-gf-footer-legal .ac-gf-footer-legal-links > a:first-child + a {
  border: none; }

.code-listing code { font-size: 0.8em }

/* div.localnav-content:after { content: "2017.00.00"; font-size: 10pt; position: absolute; margin-left: 15em; padding: 1.8em 0em } */

div.localnav-menu-tray:before { content: "2017.08.29"; font-size: 8pt; position: absolute; margin-left: -19em; padding: 1.8em 0em }


div.localnav-content > div { font-size: 0.7em }


li.localnav-menu-setting { display: none } li.localnav-menu-setting.language-container { display: inherit }
