
.jpstr {
display: block;
line-height: 1.6em;
}

.code-sample .jpstr { display: inline }

p .jpstr {
margin: 0.5em 0em 1.5em 0em;
}

.jpstr code {
font-size: 0.9em;
margin: 0em 0.3em;
}

p, .section ul, .section ol , .section dl, table {
font-size: 0.84em;
/* line-height: 1.64em; */
color: #444;
}

.admonition-experiment .jpstr {
margin: 0.3em 0em 1em 0em;
}

.admonition-title .jpstr {
margin: 0em;
}
.admonition .jpstr {
margin-bottom: 0.6em;
}




.next_previous .jpstr {
line-height: 0em;
}

div.next_previous .previous a {
background: -0px 3px url(../images/icon-previous.svg) no-repeat;
}



main {
max-width: 1000px;
/* max-width: 100%; */
padding-right: 6%;
}
#bashful .inner {
/* max-width: 95%; */
max-width: 1150px;
}


 #jump_to.open menu {
width: auto;
min-width: 15em;
}
#jump_to menu ul li ul li a {
padding-right: 3em;
}




menu a .jpstr { color: #000;  }

/* menu.details { max-width: auto } */

#jump_to menu ul li ul li a  { display:block; width: 100%; }




/* enstr非表示 */
/* 
.enstr { display: none; }
.next_previous .jpstr { margin-top: 0.8em }

p, .section ul, .section ol , .section dl, table {
font-size: 1em;
}

.code-lines .jpstr:before {
content:"\/\/";
}
*/







/*
p .enstr {
display: none;
}
p:hover .enstr {
display: block;
}
 */