 
p, .section ul, .section ol , .section dl, table {
font-size: 0.84em;
line-height: 1.64em;
color: #444;
}
.admonition-experiment .jpstr {
margin: 0.3em 0em 1em 0em;
}


.jpstr {
line-height: 1.7em;
}

h1 .jpstr, h2 .jpstr, h3 .jpstr, h4 .jpstr, h5 .jpstr, h6 .jpstr {
line-height: 1.2em;
}


.next_previous .jpstr {
line-height: 0em;
}

div.next_previous .previous a {
background: -0px 3px url(../images/icon-previous.svg) no-repeat;
}



p .jpstr {
display: block;
margin: 0.6em 0em 1.5em 0em;
}


.jpstr code {
font-size: 0.9em;
margin: 0em 0.3em;

}

menu a .jpstr {
color: #000;
}


.admonition-title .jpstr {
margin: 0em;
}


menu.details { max-width: 250px }


#jump_to menu ul li ul li a  { display:block; width: 100%; }



