span.download-text, 
form#search, 
div#leave_feedback,
#modal { display: none }



/* 本文の日本語部分 */
p.para .jpstr {
font-size: 0.9em;
font-size: 0.89em;
line-height: 1.7em;
display: block;
margin:  0.7em 0em;
padding: 1em 1em 1em 1.5em;
background-color: #dee;
background-color: #fcf; /* 紫 */

/* background-color: #cbe2fd; */

background-color: #b3e163;
background-color: #b3e193;
/* background-color: inherit; padding: 0.5em 0em 0em 0em; */

background-color: rgba(179, 225, 147, 0.83);

background-color: rgba(173, 229, 231, 0.75);     /* 2.0 */
background-color: rgba(166, 219, 221, 0.5); 
background-color: rgba(159, 210, 212, 0.44); 

/* border-radius: 1em; */
}


div.syntax-defs .jpstr {
font-size: 0.8em;
}
div.syntax-defs .jpstr * {
color: #bbb;
}



/* note部分 */
div.note p.para .jpstr {
background-color: inherit; padding: 0em 0em;
border: none;
}



sup, 
sub { line-height: 1em; }



.jpstr span.mymemo {
/* font-size: 0.9em; */
/* color: purple; */
color: #555;
display: block;
border: dotted 1pt purple;
/* border-radius: 1em; */
padding: 1em; margin: 1em 0em;

letter-spacing: 0.05em;
}
p.para .mymemo { font-size: 0.9em; padding: 0.5em; margin: 1em 0em 0em 0em }



/* ここから日本語内の要素の読みやすさのため */
/* .jpstr * {
margin-left: 0.1em;
margin-right: 0.1em;
padding-left: 0.2em;
padding-right: 0.2em;
} */

/* .jpstr > .code-voice { color: #6f6f6f; } */

/* .jpstr > *:before, .jpstr > *:after { content: " "; font-size: 0.1 } */

/* .jpstr  code.code-voice:before, .jpstr  code.code-voice:after { content: " "; font-size: 0.1 } */


/* ここまで日本語内の要素の読みやすさのため */



/* ここから「On This Page」 メニュー部分 */
section#mini_toc .jpstr {
font-size: 0.85em;
padding: 0.2em 0.2em 0.1em 0.6em;
margin: 0.1em 0em 0.3em 0em;
/* background-color: inherit; */
}
.jazz #mini_toc ul.list-bullet li.item .para {
padding-bottom: 0em;
}
.jazz #mini_toc {
margin-left: 455px;	 /* 505px; */
width: 240px; 			/* 190px */
max-height: 700px; 	 /* 500px */
max-height: 85%; 	 /* 500px */
}
.jazz #mini_toc #mini_toc_button {
width: 235px; 			/* 195 */
}
.jazz #mini_toc ul.list-bullet {
width: 230px; 			/* 167px */
padding-bottom: 1.4em;
}
/* ここまで「On This Page」 メニュー部分 */



/* 「On This Page」 メニュー部分 2 */
.jazz #bashful {
/* height: 32px; */
}
.jazz #bashful #jump_to menu  {
/* max-height: 100%; */
max-height: 2000%; /* 上が高さ32pxなので、これで標準で20行 */

}

/* ここまで「On This Page」 メニュー部分 2 */




/* 「On This Page」 メニュー部分 3 */
.jazz #jump_to .list-bullet .item { margin-bottom: 2px }


/* ここまで「On This Page」 メニュー部分 3 */



/* ページ下部の前後ページリンクの日本語字あふれ */
.jazz #next_previous {
/* width: 684px; */
/* width: 700px; */
/* outline: solid pink 1pt; */
}

.jazz #next_previous {
/* font-size: 0.95em; */
}
.jazz #next_previous .jpstr {
font-size: 0.9em;
}
.jazz .next-link a, .jazz .previous-link a {
width: auto;
margin-top: 0em;
}


/* 左のメニュー */
/* Foundation Classic */
ul.nav-parts li.nav-chapter .jpstr {
font-size: 0.9em;
margin: 0em;
}

/* 左のメニュー */
/* Swift */
#conceptual_flow_with_tasks .nav-chapters .nav-chapter .jpstr {
display: block;

font-size: 0.89em; 
margin: 0em 0em -0.3em 1.4em;


}




/* ここから作業上要素に印付け */
code, 
em,
.para a { border-radius: 1em; padding: 0.1em 0.5em; }
.para code > a,
.para em > a {  margin: -0.1em -0.5em; padding: 0.1em 0.5em }
.note .para .jpstr a {  margin: -0.1em -0.1em; padding: 0.1em 0.5em }

em { padding: 0.1em 0.6em 0.1em 0.4em; }
div.note p.para .jpstr > * { /* padding: 0.3em 0.6em; */ margin: 0em 0.2em }

/* p.para a { background-color: inherit; border: dotted 1pt rgba(128, 0, 128, 0.7) } */
p.para a { /* background-color: inherit;*/  border: dotted 1pt rgba(125, 0, 125, 0.52) }
div.note p.para .jpstr  a { padding: 0.2em 0.6em; }
p.para em { background-color: #ecd; }
p.para em { background-color: rgba(238, 204, 221, 0.74); }
/* p.para code { background-color: #deb; } */
p.para code { background-color: rgba(221, 238, 187, 0.78); padding: 0.28em 0.5em;  /*border:  dotted 1pt rgba(128, 0, 128, 0.6); */  }
p.para code { background-color: rgba(224, 242, 190, 0.78); padding: 0.28em 0.5em;  }
p.para .jpstr code { background-color: rgba(221, 238, 187, 0.78); padding: 0.28em 0.5em;  border: dotted 1pt rgba(147, 186, 73, 0.5);  }
.jazz .code-voice { color: rgba(126,126,126,1); }

.jazz #mini_toc p.para a { background-color: inherit; border: none }
span.jpstr { border: none }

.jpstr * {
margin-left: 0.2em;
margin-right: 0.2em;
}
.jpstr > *:first-child {
margin-left: 0em;
}


/* ここまで作業上要素に印付け */



/* コードサンプルの改行無しとスクロール指定 */
/* .jazz .code-listing .code-sample .code-lines { overflow: scroll; }
.jazz .code-listing .code-sample .code-lines .code-voice { white-space: nowrap }
 .jazz .code-listing .code-sample .code-lines .jpstr { font-size: 0.9em } */


/* コードサンプルのコメント日本語 */
/* .code-lines .jpstr { color: #bbb }
.code-lines .jpstr { color: #c19373 }
.code-lines .jpstr { color: #b3e193 }
.code-lines .jpstr { color: #e1b393 }
.code-lines .jpstr { color: #93c173 } */




/* 目次リンクに日本語があるとリンクが効かなくなるようなのでリンクの外に出した。不確か。javascriptのescapeHTML関数のためか */
/* 目次のリンク外の日本語の体裁を整える。 */
li.nav-chapter a { margin-bottom: -1.2em; }
li.nav-chapter .jpstr { margin-left: 1.6em; color: #666; }

/* .open-part  { max-height: 36em; overflow: scroll} */



.jazz .experiment { border-left-color: rgba(0,136,204,0.33) }


/* プリントしてPDF用 */
/* .jazz div.pixel-line, 
#bashful, 
#next_previous { display: none } */


li p.para .jpstr {
padding: 0.7em 1em 0.7em 1.5em;
}

/* pre-release */
/* html { background-color: rgba(163, 0, 163, 0.3) } */
/* p.para .jpstr { background-color: rgba(163, 0, 163, 0.24) } */
p.para .jpstr em { border-radius: 1em; border: dotted 1pt rgba(163, 0, 163, 0.6) } p.para .jpstr em a { border: none; }


p.para .jpstr span > a { background-color: #fbfbfb }
p.para .jpstr span > a, p.para .jpstr > a { background-color:  rgba(255,255, 255, 0.4) }

/* #hierarchial_navigation:after { content: "2015-12-20"; color: gray; margin-left: 0.5em; font-size: 0.8em } */

ul.nav-parts .jpstr.hue_pale { font-size: 0.9em; margin-left: 0em; color: #888; }
ul.nav-chapters .jpstr.hue_pale { font-size: 0.85em; margin-left: 2.2em; color: #aaa; }


.glossary-entry dt.term p.para .jpstr { display: inline; padding: 0.3em 0.5em 0.3em 0em; background-color: inherit; font-weight: bold }






/* リファレンスindex 階層ずれ、適当 */
#collection .z-class-node td:first-of-type { vertical-align: top; padding: 3em 0.5em; }

#collection .collection-table td { border-top: solid 1pt gray }
#collection section.section.z-other .collection-table td { border-top: none }



#collection .z-class-node td:first-of-type {
    background-image: url(1/collection_node_2x.png);
    background-repeat: no-repeat;
    background-size: 100px 180px
}

#collection .z-class-node td.orphan-parent:first-of-type {
    background-image: url(1/collection_node_orphan_parent_2x.png)
}

#collection .z-class-node td.orphan-grandparent {
    background-image: url(1/collection_node_orphan_grandparent_2x.png)
}

#collection .z-class-node td.orphan-parent.orphan-grandparent:first-of-type {
    background-image: url(1/collection_node_orphan_parent_and_grandparent_2x.png)
}

#collection .z-class-node td.last-child {
    background-image: url(1/collection_last_child_2x.png)
}

#collection .z-class-node td.last-child.orphan-parent {
    background-image: url(1/collection_last_child_orphan_parent_2x.png)
}

#collection .z-class-node td.last-child.orphan-grandparent {
    background-image: url(1/collection_last_child_orphan_grandparent_2x.png)
}

#collection .z-class-node td.last-child.orphan-parent.orphan-grandparent {
    background-image: url(1/collection_last_child_orphan_parent_and_grandparent_2x.png)
}

#collection .z-class-node td.parent {
    background-image: url(1/collection_node_parent_2x.png)
}

#collection .z-class-node td.parent.last-child {
    background-image: url(1/collection_parent_last_child_2x.png)
}

#collection .z-class-node td.parent.orphan-parent {
    background-image: url(1/collection_node_parent_orphan_parent_2x.png)
}

#collection .z-class-node td.parent.last-child.orphan-parent {
    background-image: url(1/collection_node_parent_last_child_orphan_parent_2x.png)
}


.jazz .jpstr .inline-graphic { margin-bottom: 3px }




/* p.para .jpstr, li p.para .jpstr { background-color: inherit; padding-left: 0.5em; } */


/* * { outline: solid 1pt pink } */


/* tr.z-protocol-node td:first-child  + td { display: none } */






/* OmegaT暫定 */
#conceptual_flow_with_tasks .nav-chapters .nav-chapter a .jpstr {
margin-left: 0em; margin-bottom: 1.2em;
}

